{% extends "script_app/base.html" %}
{% load form_tags %}

{% block title %}Script Generator{% endblock %}

{% block content %}
<div class="form-container mt-5">
    <h1 class="mb-4">Script Generator</h1>
    <form method="post" class="form">
        {% csrf_token %}
        <h2>Core Message Creation</h2>
        <div class="form-group">
            <h3>{{ message_form.product.label_tag }}</h3><br>
            {{ message_form.product|add_class:"form-control" }}<br>
        </div>
        <div class="form-group">
            <h3>{{ message_form.audience.label_tag }}</h3><br>
            {{ message_form.audience|add_class:"form-control" }}<br>
        </div>
        <div class="form-group">
            <h3>{{ message_form.problem.label_tag }}</h3><br>
            {{ message_form.problem }}<br>
        </div>
        <div class="form-group">
            <h3>{{ message_form.usp.label_tag }}</h3><br>
            {{ message_form.usp }}<br>
        </div>
        <button type="submit" name="generate_message" class="btn btn-primary">Generate Messaging</button>

        <hr> <!-- Horizontal line between sections -->

        <h2>Script Creation</h2>
        <div class="form-group">
            {{ script_form.message.label_tag }}<br>
            {{ script_form.message|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ script_form.script_length.label_tag }}<br>
            {{ script_form.script_length|add_class:"form-control" }}
        </div>
        <button type="submit" name="generate_script" class="btn btn-primary">Generate Script</button>
    </form>

    {% if script_text %}
        <div class="response-text mt-4">
            <h2>Script:</h2>
            <textarea readonly rows="10" cols="50" class="form-control">{{ script_text }}</textarea>
        </div>
    {% endif %}
</div>
{% endblock %}
